<div class="row">
    <div class="col-md-3">
    </div>
    <div id="content" class="col-md-6">
      <h3>Welcome!&nbsp;&nbsp;Please <a href="http://lannisport-rails-99008.usw1-2.nitrousbox.com/rsvp">RSVP</a> or see <a href="http://lannisport-rails-99008.usw1-2.nitrousbox.com/info">Info</a> for directions and a link to our registry.</h3>
      <h3> <iframe src="http://free.timeanddate.com/countdown/i46f1sau/n137/cf11/cm0/cu4/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs300/szw320/szh135/iso2014-08-10T18:00:00" frameborder="0" width="321" height="57"></iframe></h3>
     </div>
     <div class="col-md-3">
     </div>
</div>

<div class="row">
    <div class="col-md-3">
    </div>
    <div id="countdown" class="col-md-6">
       
  </div>
  <div class="col-md-3">
  </div>
</div>

