<% content_for :title do %>Home<% end %>
<h3>This is our Wedding Home</h3>
<p> There are this many days until the wedding!</p>
<body> 

<div class="container">
    </div>
    <div class="container">
        <div class="row">
         <div class="span4"></div>
         <div class="span4"><br><br><img class="center-block" src="https://dl.dropboxusercontent.com/u/8412404/site/comingsoon.png" /></div>
         <div class="span4"></div>
    </div>
    <!-- /.container -->
      
      </body>