<h2><a href="http://www.amazon.com/gp/registry/wedding/3RR2NB5FZVYVD">Aviva and Harris are registered at Amazon</a> </h2>
<h3><a href="https://www.google.com/maps/place/Chelsea+Pub+and+Lounge/@33.863672,-118.400076,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2b378c0924083:0x35a49d55b7f928fe">We are getting married at the Chelsea Room, part of the beautiful Underground Pub and Grill</a><h3>
  <p>See you soon!</p>