<div class="row">
    <div class="col-md-3">
    </div>
    <div id="infotop" class="col-md-6">
        <h1>Aviva and Harris are registered at <a href="http://www.amazon.com/gp/registry/wedding/3RR2NB5FZVYVD">Amazon.com</a></h1>
  </div>
     <div class="col-md-3">
     </div>
</div>

<div class="row">
    <div class="col-md-3">
    </div>
    <div id="infobottom" class="col-md-6">
      <h1>August 10th, 2014<br> 6:00pm</h1>
      <p>Chelsea Pub and Lounge<br>1334 Hermosa Ave<br>Hermosa Beach, CA 90254</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3313.0084928450756!2d-118.40007600000001!3d33.863672!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b378c0924083%3A0x35a49d55b7f928fe!2sChelsea+Pub+and+Lounge!5e0!3m2!1sen!2sus!4v1401649429929" width="400" height="300" frameborder="0" style="border:0"></iframe></p>
     </div>
     <div class="col-md-3">
     </div>
</div>