<div class="row">
    <div class="col-md-3">
    </div>
    <div id="photos" class="col-md-6">
     <img src = "https://dl.dropboxusercontent.com/u/8412404/site/photos.png"> </img>
     </div>
     <div class="col-md-3">
     </div>
</div>
</div>