body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
}

body {
  background: url(https://dl.dropboxusercontent.com/u/8412404/site/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  font-weight: bold;
  color: #000;
   h1 {font-size:225%;
     font-weight: bolder}
  h3 {font-weight: bolder}
   p {font-size:150%}
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #fff;
background-color: #000;
}
.navbar-inverse {
background-color: #000;
border-color: #000;
}
.navbar-inverse .navbar-brand {
color: #fff;
font-weight: bolder;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: #fff;
background-color: #626262;
}
element.style {
}
.navbar-inverse .navbar-toggle {
border-color: #333;
}
.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: FFF;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
input, button, select, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
font-weight: bold;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
}
button, select {
text-transform: none;
}
button {
overflow: visible;
}
button, input, optgroup, select, textarea {
margin: 0;
font: inherit;
color: inherit;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
user agent stylesheetinput[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
padding: 1px 6px;
}
user agent stylesheetinput[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
align-items: flex-start;
text-align: center;
cursor: default;
color: buttontext;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
}
user agent stylesheetinput, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
user agent stylesheetinput, textarea, keygen, select, button, isindex, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
user agent stylesheetbutton {
-webkit-appearance: button;
}
element.style {
}
.navbar-inverse .navbar-toggle {
border-color: #333;
}
.navbar-brand {
float: left;
padding: 12px;
font-size: 36px;
line-height: auto;
height: auto;
}
.navbar-nav {
float: left;
font-size: 24px;
line-height: auto;
height: auto;
}

#content {
  margin-top: 35px;
  background-color: white;
  opacity:0.75;
  font-weight: bolder;
  text-align: center;
  text-color: black;
  border:2px solid;
  border-radius:25px;
  
}

#photos {
  margin-top: 35px;
}

#infotop {
  margin-top: 35px;
  background-color: white;
  opacity:0.75;
  font-weight: bolder;
  text-align: center;
  text-color: black;
  border:2px solid;
  border-radius:25px;
  color:black;
  font-size: 24;
}

#infobottom{
  margin-top: 35px;
  background-color: white;
  opacity:0.9;
  font-weight: bolder;
  text-align: center;
  text-color: black;
  border:2px solid;
  border-radius:25px;
  
}
#rsvp {
  margin-top: 35px;
}